body {
    background-color: var(--white-text);
    color: var(--primary-text-color);
    letter-spacing: var(--primary-letter-spacing);
    font-size: var(--primary-font-size);

    font-family: 'Roboto', sans-serif;
}